a {
  text-decoration: none;
}

a:hover {
  animation-name: a-hover;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes a-hover {
  from {
    color: red;
  }

  50% {
    color: yellow;
    font-size: 150%;
  }

  to {
    color: white;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  width: 90vw;
  max-width: 1600px;
}

.navicon {
  width: 30px;
}

.w-27vw {
  width: 27vw;
}