.bg {
  position: relative;
  z-index: 1;
  height: 100vh;
  background: $background-dark;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 16px;
  font-family: sans-serif;
}

.circle-big {
  position: absolute;
  top: -7.5%;
  left: 20.8%;
  z-index: -22;
  width: 115vh;
  height: 115vh;
  background: content-box radial-gradient($background-light, $background-dark);
  border: 1px solid $primary-color;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #181c39;
}

.circle-small {
  position: absolute;
  z-index: -20;
  width: 75vh;
  height: 75vh;
  background: content-box radial-gradient($background-light, #2c3057);
  border: 1px solid $primary-color;
  border-radius: 50%;
  box-shadow: 0 0 15px 15px #2c3057;
}

button {
  padding: 0.75rem 1rem;
  background-color: $primary-color;
  border: 1px solid $secondary-color;
  border-radius: 5px;
}

.h-100 {
  height: 100vh;
}

.grid-8 {
  display: grid;
  grid-template-areas:
    '. . . . . hex-next-to-next . .'
    '. . . . hex-next . . .'
    'rival-1 rival-1 rival-1 hex-now hex-now rival-2 rival-2 rival-2'
    '. . . hex-preceding . . . .'
    '. . hex-preceding-before-preceding . . . . .';
  grid-template-rows: 6rem 9rem 15rem 9rem 6rem;
  grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  gap: 20px;
}

.header {
  grid-area: header;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.grid-hex-next-to-next {
  position: relative;
  top: 0;
  right: -53px;
  grid-area: hex-next-to-next;
  width: 113px;
  height: 132px;
  margin: auto;
  cursor: pointer;
}

.grid-hex-next {
  position: relative;
  right: -118px;
  bottom: 60px;
  grid-area: hex-next;
  width: 157px;
  height: 184px;
  margin: auto;
  cursor: pointer;
}

.grid-hex-preceding {
  position: relative;
  bottom: 230px;
  left: -148px;
  grid-area: hex-preceding;
  width: 157px;
  height: 184px;
  margin: auto;
  cursor: pointer;
}

.grid-hex-preceding-before-preceding {
  position: relative;
  bottom: 292px;
  left: -83px;
  grid-area: hex-preceding-before-preceding;
  width: 113px;
  height: 132px;
  margin: auto;
  cursor: pointer;
}

.grid-hex-now {
  position: relative;
  bottom: 160px;
  left: -2px;
  grid-area: hex-now;
  margin: auto;
  cursor: pointer;
}

#hex-next,
#hex-next-to-next,
#hex-now,
#hex-preceding,
#hex-preceding-before-preceding {
  position: relative;
}

.rival {
  display: inline-block;
  width: 120%;
  height: 128px;
  perspective: 400px;
}

.rival-left {
  grid-area: rival-1;
  margin-top: -128px;
  margin-left: -76px;
}

.rival-right {
  grid-area: rival-2;
  margin-left: -101px;
}

.rival::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  transform: skew(-30deg);
  transform-origin: 50% 100%;
  content: '';
}

.rival-left::before {
  border-radius: 0 10px 10px 0;
}

.rival-right::before {
  border-radius: 10px 0 0 10px;
}

.rival-right__text {
  position: relative;
  z-index: 1;
  padding: 36px 0 48px 100px;
  color: $secondary-color;
}

.rival-left__text {
  position: relative;
  z-index: 1;
  padding: 36px 18px 48px 0;
  color: $secondary-color;
  text-align: right;
}
