.bg {
    background: $background-dark;
    position: relative;
    z-index: 1;
    height: 100vh;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.circle-big {
  width: 115vh;
  height: 115vh;
  position: absolute;
  left: 20.8%;
  top: -7.5%;
  z-index: -22;
  border-radius: 50%;
  border: 1px solid $primary-color;
  background: content-box radial-gradient($background-light, $background-dark);
  box-shadow: 0 0 20px 20px #181c39;
}

.circle-small {
  width: 75vh;
  height: 75vh;
  position: absolute;
  z-index: -20;
  border-radius: 50%;
  border: 1px solid $primary-color;
  background: content-box radial-gradient($background-light, #2c3057);
  box-shadow: 0 0 15px 15px #2c3057;
}

button {
  padding: .75rem 1rem;
  background-color: $primary-color;
  border-radius: 5px;
  border: 1px solid $secondary-color;
}

.h-100 {
    height: 100vh;
}

  .grid-8 {
    display: grid;
    grid-template-areas: '. . . . . hex-next-to-next . .'
                         '. . . . hex-next . . .'
                         'rival-1 rival-1 rival-1 hex-now hex-now rival-2 rival-2 rival-2'
                         '. . . hex-preceding . . . .'
                         '. . hex-preceding-before-preceding . . . . .';
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
    grid-template-rows: 6rem 9rem 15rem 9rem 6rem;
    gap: 20px;
  }

  .header {
    grid-area: header;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .grid-hex-next-to-next {
    grid-area: hex-next-to-next;
    width: 113px;
    height: 132px;
    margin: auto;
    position: relative;
    right: -53px;
    top: 0px;
    cursor: pointer;
  }

  .grid-hex-next {
    grid-area: hex-next;
    width: 157px;
    height: 184px;
    margin: auto;
    position: relative;
    bottom: 60px;
    right: -118px;
    cursor: pointer;
  }

  .grid-hex-preceding {
    grid-area: hex-preceding;
    width: 157px;
    height: 184px;
    margin: auto;
    position: relative;
    bottom: 230px;
    left: -148px;
    cursor: pointer;
  }

  .grid-hex-preceding-before-preceding {
    grid-area: hex-preceding-before-preceding;
    width: 113px;
    height: 132px;
    margin: auto;
    position: relative;
    bottom: 292px;
    left: -83px;
    cursor: pointer;
  }

  .grid-hex-now {
    grid-area: hex-now;
    margin: auto;
    position: relative;
    bottom: 160px;
    left: -2px;
    cursor: pointer;
  }

#hex-next,
#hex-next-to-next,
#hex-now,
#hex-preceding,
#hex-preceding-before-preceding {
  position: relative;
}

.rival {
  perspective: 400px;
  display: inline-block;
  width: 120%;
  height: 128px;
}

.rival-left {
  grid-area: rival-1;
  margin-top: -128px;
  margin-left: -76px;
}

.rival-right {
  grid-area: rival-2;
  margin-left: -101px;
}

.rival:before {
  transform: skew(-30deg);
  transform-origin: 50% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  background-color: $primary-color;
}

.rival-left:before {
    border-radius: 0 10px 10px 0;
  }

.rival-right:before {
  border-radius: 10px 0 0 10px;
}

.rival-right__text {
  padding: 36px 0 48px 100px;
  color: $secondary-color;
  position: relative;
  z-index: 1;
}

.rival-left__text {
  padding: 36px 18px 48px 0;
  text-align: right;
  color: $secondary-color;
  position: relative;
  z-index: 1;
}