.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.f-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.fw-bold {
  font-weight: bold;
}

.fs-45 {
  font-size: 45px;
}

.fs-40 {
  font-size: 40px;
}

.fs-32 {
  font-size: 32px;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.z-index-neg-9 {
  z-index: -9;
}

.z-index-neg-8 {
  z-index: -8;
}

.m-0-auto {
  margin: 0 auto;
}
