html, body, img, div, section, header, article {
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

.font-family-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: #080c18;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.f-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fw-bold {
  font-weight: bold;
}

.fs-45 {
  font-size: 45px;
}

.fs-40 {
  font-size: 40px;
}

.fs-32 {
  font-size: 32px;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.z-index-neg-9 {
  z-index: -9;
}

.z-index-neg-8 {
  z-index: -8;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: a-hover;
          animation-name: a-hover;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes a-hover {
  from {
    color: red;
  }
  50% {
    color: yellow;
    font-size: 150%;
  }
  to {
    color: white;
  }
}

@keyframes a-hover {
  from {
    color: red;
  }
  50% {
    color: yellow;
    font-size: 150%;
  }
  to {
    color: white;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
}

.navicon {
  width: 30px;
}

.bg {
  background: #030923;
  position: relative;
  z-index: 1;
  height: 100vh;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.circle-big {
  width: 115vh;
  height: 115vh;
  position: absolute;
  left: 20.8%;
  top: -7.5%;
  z-index: -22;
  border-radius: 50%;
  border: 1px solid #fff;
  background: content-box radial-gradient(#4a4e7e, #030923);
  -webkit-box-shadow: 0 0 20px 20px #181c39;
          box-shadow: 0 0 20px 20px #181c39;
}

.circle-small {
  width: 75vh;
  height: 75vh;
  position: absolute;
  z-index: -20;
  border-radius: 50%;
  border: 1px solid #fff;
  background: content-box radial-gradient(#4a4e7e, #2c3057);
  -webkit-box-shadow: 0 0 15px 15px #2c3057;
          box-shadow: 0 0 15px 15px #2c3057;
}

button {
  padding: .75rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #080c18;
}

.h-100 {
  height: 100vh;
}

.grid-8 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: '. . . . . hex-next-to-next . .' '. . . . hex-next . . .' 'rival-1 rival-1 rival-1 hex-now hex-now rival-2 rival-2 rival-2' '. . . hex-preceding . . . .' '. . hex-preceding-before-preceding . . . . .';
  -ms-grid-columns: 8rem (1fr)[6] 8rem;
      grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  -ms-grid-rows: 6rem 9rem 15rem 9rem 6rem;
      grid-template-rows: 6rem 9rem 15rem 9rem 6rem;
  gap: 20px;
}

.header {
  grid-area: header;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid-hex-next-to-next {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: hex-next-to-next;
  width: 113px;
  height: 132px;
  margin: auto;
  position: relative;
  right: -53px;
  top: 0px;
  cursor: pointer;
}

.grid-hex-next {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: hex-next;
  width: 157px;
  height: 184px;
  margin: auto;
  position: relative;
  bottom: 60px;
  right: -118px;
  cursor: pointer;
}

.grid-hex-preceding {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: hex-preceding;
  width: 157px;
  height: 184px;
  margin: auto;
  position: relative;
  bottom: 230px;
  left: -148px;
  cursor: pointer;
}

.grid-hex-preceding-before-preceding {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: hex-preceding-before-preceding;
  width: 113px;
  height: 132px;
  margin: auto;
  position: relative;
  bottom: 292px;
  left: -83px;
  cursor: pointer;
}

.grid-hex-now {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: hex-now;
  margin: auto;
  position: relative;
  bottom: 160px;
  left: -2px;
  cursor: pointer;
}

#hex-next,
#hex-next-to-next,
#hex-now,
#hex-preceding,
#hex-preceding-before-preceding {
  position: relative;
}

.rival {
  -webkit-perspective: 400px;
          perspective: 400px;
  display: inline-block;
  width: 120%;
  height: 128px;
}

.rival-left {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: rival-1;
  margin-top: -128px;
  margin-left: -76px;
}

.rival-right {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: rival-2;
  margin-left: -101px;
}

.rival:before {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  background-color: #fff;
}

.rival-left:before {
  border-radius: 0 10px 10px 0;
}

.rival-right:before {
  border-radius: 10px 0 0 10px;
}

.rival-right__text {
  padding: 36px 0 48px 100px;
  color: #080c18;
  position: relative;
  z-index: 1;
}

.rival-left__text {
  padding: 36px 18px 48px 0;
  text-align: right;
  color: #080c18;
  position: relative;
  z-index: 1;
}
